<footer class="bg-transparent text-keres-light py-8 text-center border-t border-keres-dark">
  <div>
    <p>{{ i18n "footer_copyright" }}</p>
    <nav>
      {{ with .Site.GetPage "/legal-notice" }}
      <a href="{{ .RelPermalink }}" class="text-keres-primary mx-3 hover:underline">{{ i18n "footer_legal" }}</a>
      {{ end }}
      {{ with .Site.GetPage "/terms-of-sale" }}
      <a href="{{ .RelPermalink }}" class="text-keres-primary mx-3 hover:underline">{{ i18n "footer_terms" }}</a>
      {{ end }}
      <a href="{{ .Site.Params.platformURL }}/contact" class="text-keres-primary mx-3 hover:underline" target="_blank" rel="noopener">{{ i18n "footer_contact" }}</a>
    </nav>
  </div>
</footer>
